.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

/** typography */

footer a {
  color: hsl(0deg, 0%, 100%);
}

footer a:hover {
  color: hsl(0deg, 0%, 80%);
}
